{% extends 'base.html' %}

{% block content %}
<h3>Edit item</h3>
<form method="post">
    Name <input type="text" name="title" autocomplete="off" required value="{{ course.title }}">
    Year <input type="text" name="year" autocomplete="off" required value="{{ course.year }}">
    Credits <input type="text" name="Credits" autocomplete="off" required value="{{ course.Credits }}">
    Hours <input type="text" name="Hours" autocomplete="off" required value="{{ course.Hours }}">
    Grade <input type="text" name="Grade" autocomplete="off" required value="{{ course.Grade }}">
    <input class="btn" type="submit" name="submit" value="Update">
</form>
{% endblock %}